body {
    background-color: #00bff3;
}

.box {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 10%;
    border: 5px solid white;
    width: 300px;
    height: 300px;
    overflow: hidden;
    background-color: #16e0bd;
    border-radius: 30%;
}

.head {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #FFDAB9;
    top: 20%;
    left: 25%;
    border-radius: 50%;

}

.right-eye {
    position: absolute;
    height: 30%;
    width: 30%;
    background-color: white;
    border-radius: 50%;
    left: 20%;
    top: 25%;

}

.left-eye {
    position: absolute;
    height: 30%;
    width: 30%;
    background-color: white;
    border-radius: 50%;
    right: 20%;
    top: 25%;
}

.pupil {
    position: absolute;
    height: 50%;
    width: 50%;
    background-color: black;
    border-radius: 50%;
    right: 20%;
    top: 25%;
}

.iris {
    position: absolute;
    height: 20%;
    width: 20%;
    background-color: white;
    border-radius: 50%;
    right: 20%;
    top: 25%;

}

.nose {
    position: absolute;
    height: 20%;
    width: 20%;
    background-color: #ffc087;
    border-radius: 50px;
    top: 45%;
    left: 40%;
    z-index: 3;
}

.blush-left {
    position: absolute;
    width: 15%;
    height: 15%;
    background-color: #ffcdc9;
    top: 55%;
    left: 15%;
    border-radius: 50%;
    overflow: hidden;
}

.blush-right {
    position: absolute;
    width: 15%;
    height: 15%;
    background-color: #ffcdc9;
    top: 55%;
    right: 15%;
    border-radius: 50%;
    overflow: hidden;
}

.mouth{
  width: 66px;
  height: 33px;
  border-radius: 0 0 33px 33px;
  background: black;
  position: absolute;
  top: 70%;
  left: 50%;
  margin-left: -33px;
  overflow: hidden;
  }

  .tongue {
	background: #EB5454;
	border-radius: 0 0 20px 20px;
	height: 2rem;
	position: relative;
	top: 1rem;
	
}
